<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Web Dev Tools</title>
    <style>
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #121212;
            margin: 0;
            padding: 0;
        }

        .container {
            text-align: left;
            margin: 20px;
        }

        .header {
            text-align: left;
            font-size: 24px;
        }

        .content {
            margin-top: 20px;
        }

        a {
            display: inline-block;
            padding: 10px 20px;
            background-color: hsl(346.8, 77.2%, 49.8%);
            color: hsl(355.7, 100%, 97.3%);
            text-decoration: none;
            border-radius: 5px;
            margin-top: 10px;
        }

        a:hover {
            background-color: hsl(346.8, 77.2%, 40%);
        }

        .logo {
            font-size: 2xl;
            font-weight: bold;
            text-decoration: none;
            color: #121212;
            display: flex;
            align-items: center;
        }

        .logo span {
            background: linear-gradient(to left, hsl(346.8, 77.2%, 49.8%), hsl(346.8, 77.2%, 40%));
            -webkit-background-clip: text;
            color: transparent;
            margin-left: 5px;
        }

        h2 {
            margin-top: 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Welcome to Web Dev Tools</h1>
        </div>
        <div class="content">
            <p>Hello there,</p>
            <p>We're thrilled to have you as a part of our community. To securely access your account, check out the details below:</p>
            <h2 class="logo">
                <span>Web Dev Tools</span>
            </h2>
            <p>If you didn't request this, you can safely ignore this email.</p>
            <p style="font-size: 18px;">Thank you for choosing Web Dev Tools as your platform.</p>
        </div>
    </div>
</body>
</html>
